.main-header {
    background: url("../img/dejeuner-sante-emporter-dans-boite-lunch.jpg");
    
    width: 100vw;
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header > .profile-information {
    margin-top: 120px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    
    gap: .7rem;
}

.main-header > .profile-information > img {
    width: 6rem;
    height: 6rem;
    
    border-radius: 50%;
}

.main-header > .profile-information > h3 {
    user-select: none;
}



.main-content {
    display: flex;
    
    margin-top: 100px;
    
    padding: 1rem 5rem;
    
    gap: 1rem;
    
    margin-bottom: 10rem;
}

.main-content > .main-left-content {
    width: 30%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content > .main-left-content > .wallet {
    background-color: var(--black-olive);
    
    color: white;
    
    padding: 1rem 1rem;
    
    width: 100%;
    
    border-radius: 2px;
    
    display: flex;
    flex-direction: column;
    
    gap: 4rem;
}

.main-content > .main-left-content > .wallet > h4 {
    text-transform: uppercase;
}

.main-content > .main-left-content > .wallet > .wallet-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.main-content > .main-left-content > .wallet > .wallet-footer > p {
    font-size: 2rem;
}

.main-content > .main-left-content > .wallet > .wallet-footer > a {
    font-size: 0.8rem;
    
    color: white;
}

.main-content > .main-right-content {
    width: 70%;
}

.main-content > .main-right-content {
    width: 70%;
    
    padding: 1rem;
    
    background-color: var(--shamrock-green);
    
    color: white;
}

.main-content > .main-right-content form {
    margin-top: 1rem;
    width: 100%;
}

.main-content > .main-right-content form .field {
    width: 100%;
    margin-bottom: .5rem;
}

.main-content > .main-right-content form .field .control {
    width: 100%;
}

.main-content > .main-right-content form .field .control  input{
    width: 100%;
    
    padding: .5rem .5rem;
    
    background: transparent;
    
    border: 2px solid rgba(255, 255, 255, 0.3);
    
    margin-top: .25rem;
    
    color: white;
}

#modifier-profil {
    width: 100%;
    
    text-decoration: none;
    
    color: white;
    
    background-color: rgba(255, 255, 255, 0.5);
    
    padding: .25rem 3rem;
    
    margin-top: .5rem;
}

.user-code {
    display: flex;
    
    gap: .25rem;
    
    margin-top: .5rem;
}

.user-code .field input {
    border: 2px solid var(--black-olive);
    
    padding: .25rem 1rem;
    
}

.user-code input[type="submit"] {
    background-color: var(--black-olive);
    
    color: white;
    
    padding: .25rem 1rem;
    
    border: none;
    
    margin-top: .3rem;
}

.main-content .abonnements {
    display: flex;
    flex-direction: column;

    margin-top: 1rem;
    
    width: 100%;
}

.main-content .abonnements > .Abonnement {
    background-color: gold;
    
    padding: 1rem 1rem;
    
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: space-between;
}

.main-content .abonnements > .Abonnement > .abonnement-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-content .abonnements > .Abonnement > .abonnement-footer > p {
    font-size: 1.5rem;
    font-weight: bold;
    
    margin-bottom: .5rem;
}

.main-content .abonnements > .Abonnement > .abonnement-footer > a {
    background-color: rgba(255, 255, 255, 0.5);
    
    padding: .5rem 2rem;
    
    color: white;
    
    font-weight: bold;
    
    text-decoration: none;
}

.main-content .main-most-right {
    padding: 1rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border: 4px solid var(--shamrock-green);
}

.main-most-right > h1 {
    text-align: center;
}


#use-code {
    text-decoration: underline;
    cursor: pointer;
}
